<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.komorebi.bar</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/tronin.egor/.cargo/bin/komorebi-bar</string>
        <string>-c</string>
        <string>/Users/tronin.egor/.config/komorebi/config/komorebi.bar.json</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/komorebi-bar.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/komorebi-bar.error.log</string>
</dict>
</plist>
