[user]
	name = Egor Tronin
	email = egor.tronin@x5.ru

[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[init]
	defaultBranch = dev

[core]
	editor = nvim
	compression = 9
	whitespace = error
	preloadindex = true
	hooksPath = ~/.config/git/hooks
	pager = delta
	excludesFile = ~/dots/config/git/.gitignore_global

[push]
	default = current
	autoSetupRemote = true
	followTags = true

[status]
	showStash = true
	branch = true
	showUntrackedFiles = all

[advice]
	addEmptyPathspec = false
	pushNonFastForward = false
	statushHints = false

[color]
	ui = true
	diff = auto
	status = auto
	branch = auto

[pull]
	default = current
	rebase = true

[rebase]
	autoStash = true
	missingCommitsCheck = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[delta]
	features = decorations
	navigate = true
	light = false
	side-by-side = true
	line-number = true

[interactive]
	diffFilter = delta --color-only
